apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: helsearbeidsgiver-bro-sykepenger
  namespace: helsearbeidsgiver
  labels:
    team: helsearbeidsgiver
    app: helsearbeidsgiver-bro-sykepenger
spec:
  resources:
    requests:
      cpu: 50m
      memory: 1024Mi
    limits:
      memory: 2048Mi
  replicas:
    min: 2
    max: 3 # Ønsker vi å øke denne, må vi først øke antall Kafka-partisjoner
    scalingStrategy:
      kafka:
        consumerGroup: helsearbeidsgiver-bro-sykepenger-v1
        topic: helsearbeidsgiver.pri
        threshold: 10
  liveness:
    path: isalive
    initialDelay: 10
    timeout: 2
  readiness:
    path: isready
    initialDelay: 10
    timeout: 2
  kafka:
    pool: {{ kafkaPool }}
  secureLogs:
    enabled: true
  prometheus:
    enabled: true
  observability:
    logging:
      destinations:
        - id: secure_logs
        - id: loki
    autoInstrumentation:
      enabled: true
      runtime: java
    logging:
      destinations:
        - id: secure_logs
  gcp:
    sqlInstances:
      - type: POSTGRES_14
        tier: {{ databaseTier }}
        databases:
          - name: helsearbeidsgiver-bro-sykepenger
            users:
              - name: bro_datastream_bruker
        flags:
          - name: cloudsql.enable_pgaudit
            value: "true"
          - name: pgaudit.log
            value: "write,ddl,role"
          - name: pgaudit.log_parameter
            value: "on"
          - name: cloudsql.logical_decoding
            value: "on"
  accessPolicy:
    outbound:
      rules:
        - application: logging
          namespace: nais-system
  env:
    - name: KAFKA_CONSUMER_GROUP_ID
      value: helsearbeidsgiver-bro-sykepenger-v1
    - name: KAFKA_RAPID_TOPIC
      value: tbd.arbeidsgiveropplysninger
    - name: KAFKA_EXTRA_TOPIC
      value: helsearbeidsgiver.pri
